---
import BaseLayout from "../layouts/Base.astro";
---


<BaseLayout>
  <h1>Projects</h1>
  <a href="https://github.com/keithudev/shortestpedia">Shortestpedia</a>
  <a href="https://github.com/keithudev/cordview">cordview</a>
  <a href="https://github.com/keithudev/thesetools">thesetools</a>
  <p>More projects you can find on my github!</p>
</BaseLayout>