---
import Socials from "./Socials.astro";
---

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #3f3f46;
  }
</style>

<footer>
  <a>created with ♥ by keithu</a>
  <div class="social-footer">
    <Socials />
  </div>
</footer>
