---
import Theme from "./Theme.astro";
---

<header>
  <nav>

    <a href="/" class="logo">keithu</a>
    <div class="nav-links">
      <a href="/projects/">projects</a>
      <a href="/blog/">blog</a>
    </div>
    <Theme />

  </nav>
</header>
